@font-face {
  font-family: 'raleway';
  src:url('fonts/Raleway-Light.ttf');
}

body {
  display: block;
  font-family: 'raleway', sans-serif;
  margin: auto;
  cursor: default;
  width: 50%;
  min-width: 640px;
  max-width: 1280px;
  padding:0 16px 0 16px;
}

h1 {
  display: inline;
  font-size: 32pt;
  color: #79ae3d;
  margin: 24px 0 24px 0;
}

span {
  display: block;
}

.nav {
  display: inline;
  color: #79ae3d;
  margin-left: 32px;
  font-size: 20pt;
  cursor: pointer;
}

a:link, a:visited
{
  color: #79ae3d;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

img {
  max-width: 360px;
  padding: 20px;
}

.box {
  padding: 1%;
  display: inline-block;
  opacity: 1;
}

.container {
  opacity: 1;
  transition: 0.35s ease;
}

.container-hide {
  opacity: 0;
  transition: 0.35s ease;
}

.container-none {
  display: none;
}

.top-bar {
  padding-bottom: 16px;
}